html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr auto;
    grid-template-areas: 
            "header"
            "footer";
}

header {
    background-color: #CBD8C1;
    grid-area: header;  
    color: #707070;
    text-align: center;
    display: grid;
    font-size: 1.5rem;
}

footer {
    grid-area: footer;
    background-color: #707070;
    color: white;
    font-size: 11px;
    
}

.title {
    align-self: center;
    justify-self: center;
}

.title > p:first-child {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;

}

.title > p {
    margin: 30px;
    
}

button {
    margin: 60px;
    font-size: 2rem;
    border: none;
    padding: 15px 50px;
    background-color: #EC7A23;
    color: white;
}

/* .footer-container > div:first-child {
    float: right;
} */

.footer-container {
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: auto;
    /* grid-template-areas: 
            "header"
            "footer"; */
}

.footer-container > .item {
    padding: 30px 5px;
}

.carrot-img {
    width: 75px;
    margin-right: 4rem;
    float: right;
}

.second > p {
    line-height: normal;
}

.second > p:last-child {
    text-decoration: underline;
}

.first > p {
    line-height: 15px;
}

.first {
    text-align: right;
    float: right;
}









